html {
    font-size: 625%;
    height: 100%;
}
*{
    margin:0;
    padding:0;
    border:0;
    list-style:none;
}
a {
    text-decoration:none;
    color: #83ccd7;
    /*清除a标签默认样式并更改默认颜色*/
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    /*裁剪 body 元素中内容的左/右边缘 - 如果溢出元素的内容区域的话*/
}
header{
    /*固定的盒子大小*/
    position: fixed;
    /*固定定位*/
    padding: .12rem;
    top: 0;
    text-align: center;
    /*居中对齐*/
    width: 100%;
    background-color: #5fc0cd;
    color: #ffffff;
    font-size: .18rem;
    z-index: 99999;
}
.homepage{
    float: left;
}

main{
    position:absolute;
    top: .53rem;
    width: 100%;
}

.Head-portrait{
    position: absolute;
    text-align: center;
    line-height: 3rem;
    z-index: 1;
}

.background-image{
    width: 100%;
    height: 3rem;
    background-image:url("tuceng/beijing.png") ;
    background-repeat: no-repeat;
    /*图片不重复出现*/
    background-size: cover;
    /*把背景图像扩展至足够大，以使背景图像完全覆盖背景区域。*/
    padding-left: .1rem;
    z-index: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.news{
    margin-left: 1rem;
}

.name-age{
    margin-left: .3rem;
    font-size: .18rem;
    color: white;
    margin-bottom: .2rem;
}
.name-age span{
    font-size: .18rem;
    color: white;
}


.Location{
    width: 1.5rem;
    height: 23px;
    background-repeat: no-repeat;
    background-size: .18rem .23rem;
    background-position: 0 50%;
    font-size: .14rem;
    color: white;
    line-height: 23px;
    padding-left: .3rem;
}

.jineng {
    width: 100%;
    height: .6rem;
    position: relative;
    top: -1.6rem;
    font-size: .2rem;
    border-bottom: 1px solid #EEF0F1;
    margin-top: 1.6rem;
    line-height: .6rem;
    padding-left: .6rem;
}
.jineng:before {
    content: '';
    position: absolute;
    left: 0.2rem;
    top: 25%;
    bottom: auto;
    right: auto;
    height: 50%;
    width: .05rem;
    background-color: #5FC0CD;
}

.ps {
    width: 100%;
    height: .45rem;
    position:relative;
    top: -1.6rem;
    left: .2rem;
    display: flex;
    align-items: center;
    font-size: .15rem;
    border-bottom: 1px solid #EEF0F1;
}
.ps1 {
    width: .7rem;
    height: .23rem;
    border-right: 1px solid #EEF0F1;
    padding-left: .1rem;
}
.ps2 {
    width: 1.5rem;
    height: .23rem;
    margin-left: .2rem;
}

.img1{
    width: .15rem;
    height: .15rem;
    padding-right:.05rem;
    line-height:.23rem;
}
ul{
    width:auto;
    height: 1rem;
    position: relative;
    top: -1.6rem;
    left: .2rem;
    margin: 0 0 1rem 0;
}
li {
    width:auto;
    display: flex;
    align-items: center;
    padding: .15rem;
    border-bottom: 1px solid #EEF0F1;
    font-size: .15rem;
    left: .2rem;
}
.ps3,
.ps6 {
    color: #C0C0C0;
    margin-right: .2rem;
}
.ps4,
.ps5 {
    border-left: 1px solid #EEF0F1;
    padding-left: .2rem;
}
.ps5 {
    color: #e26163;
}
li.ps8 {
    width: auto;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EEF0F1;
    margin-left: -.4rem;
}
.ps6 {
    border-right: 1px solid #EEF0F1;
    white-space: nowrap;
    padding: 0 .2rem 0 .4rem;
}
.ps7 {
    font-size: .15rem;
}

footer {
    width: 100vw;
    height: .8rem;
    background-color:white;
    position: fixed;
    /*绝对定位的元素，相对于浏览器窗口进行定位*/
    bottom: 0;
    /*底边外边距设置为0*/
    display:flex;
    /*单个元素水平居中*/
    justify-content: space-around;
    /*项目位于各行之间留有空白的容器内*/
    align-items: flex-start;
    /*项目位于容器的开头*/
    z-index: 88888;
    /*突出在页面最前面*/

}
.message {
    width: 35vw;
    height:.6rem;
    border-radius: 10px;
    border: 3px solid #5FC0CD;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.B{
    font-size: .2rem;
    color: #5FC0CD;
    text-decoration: none;
}
.Telephone-contact {
    width: 35vw;
    height: .6rem;
    border-radius: 10px;
    /*10像素圆角*/
    border: 3px solid #5FC0CD;
    /*3像素 实体 颜色#5fc0cd*/
    background-color: #5FC0CD;
    /*背景颜色#5fc0cd*/
    display: flex;
    /*单个元素水平居中*/
    justify-content: center;
    /*项目位于容器的中心*/
    align-items: center;
    /*项目位于容器的中心*/
    white-space: nowrap;
    /*段落中的文本不进行换行*/
}
.C{
    text-decoration: none;
    font-size: .2rem;
    color: #FFF;
}