*{
    margin:0;
    padding:0;
    border:0;
    list-style:none;

}
a {
    text-decoration:none;
    color: #83ccd7;
    /*清除a标签默认样式并更改默认颜色*/
}

body{
    background-color: #eff0f4;
    /*背景颜色*/
}
header{
    box-sizing: border-box;
    /*固定的盒子大小*/
    position:fixed;
    /*固定定位*/
    padding: 12px;
    top: 0;
    text-align:center;
    /*居中对齐*/
    width: 100%;
    background-color:#5fc0cd;
    color: #ffffff;
}
.Close{
    float: left;
    font-size: 16px;

}
.Sign-in{
    font-size: 18px;
    margin:0 40px;
}

.register{
    float: right;
    font-size: 16px;
}


.frame1{
    margin: 60px 0 20px;
    border-color: #eff0f4;
    width:100%;
    height: 60px;

}
.user{
    position: absolute;
    background-color:#ffffff;
    height: 60px;
    width:80px;
    text-align: center;
}
.user:after{
    content: "";
    position: absolute;
    left: auto;
    top: auto;
    bottom: 15px;
    right: 0;
    height: 50%;
    width: 1px;
    background-color: #eaedee;
}
img{
    margin:15px 0;
}
.Password{
    position: absolute;
    background-color:#ffffff;
    height: 60px;
    width:80px;
    text-align: center;
}
.Password:after{
    content: "";
    position: absolute;
    left: auto;
    top: auto;
    bottom: 15px;
    right: 0;
    height: 50%;
    width: 1px;
    background-color: #eaedee;
}
input{
    position: absolute;
    left: 80px;
    text-indent:20px;
    outline: none;
    border:none;
    height: 60px;
    width: calc(100% - 80px);
    /*宽度比100%少80像素*/
}

input::-webkit-input-placeholder{color:#e1e5e7}

input::-moz-placeholder{color:#e1e5e7}

button{
    margin:80px 0 0 0;
    background-color:#5fc0cd;
    height: 60px;
    width: 100%;
    line-height: 60px;
    font-size: 18px;
    color: #ffffff;
}

span>a{
    font-size: 18px;
    color: #83ccd7;
    float: right;
    margin-top: 5px;
}

